{extend name="base/base" /}
{block name="main"}
<form class="layui-form">
    <div class="layui-row">
        <div class="layui-col-md3 layui-form-pane">
            <div class="layui-form-item">
                <label class="layui-form-label">分配给</label>
                <div class="layui-input-block">
                    <select name="uid" id="uid" lay-verify="required" class="layui-form-select">
                        {volist name="users" id="user"}
                        <option value="{:$user['uid']}">{:$user['name']}</option>
                        {/volist}
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-col-md3 layui-form-pane">
            <div class="layui-form-item">
                <label class="layui-form-label">共</label>
                <div class="layui-input-block">
                    <select name="count" id="count" lay-verify="required" class="layui-form-select">
                        <option value="100">100条</option>
                        <option value="200">200条</option>
                        <option value="500">500条</option>
                        <option value="1000">1000条</option>
                        <option value="2000">2000条</option>
                        <option value="5000">5000条</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-col-md3 layui-form-pane layui-center">
            <a href="javascript:void(0);" onclick="javascript:start();" class="layui-btn layui-btn-normal layui-btn-radius">开始分配</a>
            <span style="color: red">剩余：{:$sum}</span>
        </div>
    </div>
</form>
{/block}
{block name="script"}
<script type="text/javascript">
    layui.use(['element','form'],function () {
        let form = layui.form,
            element = layui.element;

        $(document).ready(function () {
            layui.layer.msg('当前剩余未分配商品：' + '{:$sum}' + '件',{time:5000})
        })
    });
    let start = function () {
        $.ajax({
            url:'{:url("/admin/missionAssign")}',
            type:'POST',
            dataType:'JSON',
            data:{
                uid:$("#uid").val(),
                count:$("#count").val()
            },
            success:function (data) {
                if(data){
                    layui.layer.msg('操作成功:)',{time: 2000});
                    window.location.reload();
                }else
                {
                    layui.layer.msg('操作失败:(<br>当前无未分配商品，请先采集:(',{time:3000})
                }
            }
        })
    };
</script>
{/block}